@model IEnumerable<MusicStore.Models.Carts>

@{
    ViewBag.Title = "Index";
}

<h2>购物车</h2>

<p>
    @Html.ActionLink("结算", "SubmitOrder","Checkout")
</p>
<table class="table">
    <tr>
        <th>
           商品名称
        </th>
        <th>
           单价
        </th>
        <th>
            数量
        </th>
        <th>
            操作
        </th>
    </tr>

@foreach (var item in Model) {
    <tr id="row-@item.RecordId">
        <td>
            @Html.DisplayFor(modelItem => item.Albums.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Albums.Price)
        </td>
        <td>
          <input type="text" class="item-count" data-id="@item.RecordId" value="@item.Count" />
        </td>
        <td>
            <a href="#" class="remove-link" data-id="@item.RecordId" >移除</a>
        </td>
    </tr>
}
    <tr>
        <td>总计</td>
        <td></td>
        <td></td>
        <td><text id="cart-total">@ViewBag.CartTotal</text> </td>
    </tr>
</table>
@section Scripts{
    <link rel="stylesheet" href="~/Content/jquery.spinner.css" />
    <script type="text/javascript" src="~/Scripts/jquery.spinner.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".item-count").spinner();
            $(".remove-link").click(function () {
                var itemID = $(this).attr("data-id");
                $.post("/ShoppingCart/RemoveFromCart", { id: itemID },
                    function (data) {
                    $("#row-" + data.ItemID).fadeOut("slow");
                    $("#cart-total").html(data.CartTotal);
                    $("#cart-count").html(data.CartCount);
                });
            });
            $(".item-count").bind("update",function () {
                var itemID = $(this).attr("data-id");
                var itemCount = $(this).val();
                $.post("/ShoppingCart/UpdateItemCount",
                    { id: itemID, count: itemCount },
                    function (data) {
                    $("#cart-total").html(data.CartTotal);
                    $("#cart-count").html(data.CartCount);
                });
            });
        });
    </script>

}